In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('gym_members_exercise_tracking.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            973 non-null    int64
 1   Gender                         973 non-null    object
 2   Weight (kg)                    973 non-null    float64
 3   Height (m)                     973 non-null    float64
 4   Max_BPM                        973 non-null    int64
 5   Avg_BPM                        973 non-null    int64
 6   Resting_BPM                    973 non-null    int64
 7   Session_Duration (hours)       973 non-null    float64
 8   Calories_Burned                973 non-null    float64
 9   Workout_Type                   973 non-null    object
 10  Fat_Percentage                 973 non-null    float64
 11  Water_Intake (liters)          973 non-null    float64
 12  Workout_Frequency (days/week)  973 non-null    int64
 13  Experience_Level               973 non-null    int64
 14  BMI                            973 non-null    float64
dtypes: float64(7), int64(6), object(2)
memory usage: 114.2+ KB

In [31]:
df = pd.get_dummies(df, columns=['Workout_Type'], drop_first=True)
#Workout_Type_HIIT; Workout_Type_Strength; Workout_Type_Yoga. Si las 3 son False, entonces es Cardio.

df["Calories_Burned"] = df["Calories_Burned"].astype(int)
df

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI,Workout_Type_HIIT,Workout_Type_Strength,Workout_Type_Yoga
0,56,Male,88.3,1.71,180,157,60,1.69,1313,12.6,3.5,4,3,30.20,False,False,True
1,46,Female,74.9,1.53,179,151,66,1.30,883,33.9,2.1,4,2,32.00,True,False,False
2,32,Female,68.1,1.66,167,122,54,1.11,677,33.4,2.3,4,2,24.71,False,False,False
3,25,Male,53.2,1.70,190,164,56,0.59,532,28.8,2.1,3,1,18.41,False,True,False
4,38,Male,46.1,1.79,188,158,68,0.64,556,29.2,2.8,3,1,14.39,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,24,Male,87.1,1.74,187,158,67,1.57,1364,10.0,3.5,4,3,28.77,False,True,False
969,25,Male,66.6,1.61,184,166,56,1.38,1260,25.0,3.0,2,1,25.69,False,True,False
970,59,Female,60.4,1.76,194,120,53,1.72,929,18.8,2.7,5,3,19.50,False,False,False
971,32,Male,126.4,1.83,198,146,62,1.10,883,28.2,2.1,3,2,37.74,True,False,False
972,46,Male,88.7,1.63,166,146,66,0.75,542,28.8,3.5,2,1,33.38,False,True,False

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            973 non-null    int64
 1   Gender                         973 non-null    object
 2   Weight (kg)                    973 non-null    float64
 3   Height (m)                     973 non-null    float64
 4   Max_BPM                        973 non-null    int64
 5   Avg_BPM                        973 non-null    int64
 6   Resting_BPM                    973 non-null    int64
 7   Session_Duration (hours)       973 non-null    float64
 8   Calories_Burned                973 non-null    int64
 9   Fat_Percentage                 973 non-null    float64
 10  Water_Intake (liters)          973 non-null    float64
 11  Workout_Frequency (days/week)  973 non-null    int64
 12  Experience_Level               973 non-null    int64
 13  BMI                            973 non-null    float64
 14  Workout_Type_HIIT              973 non-null    bool
 15  Workout_Type_Strength          973 non-null    bool
 16  Workout_Type_Yoga              973 non-null    bool
dtypes: bool(3), float64(6), int64(7), object(1)
memory usage: 109.4+ KB